.backgroundImageHome{
    position: relative;
}
.womenWear{
    position: absolute;
    top: 15%;
    left: 2%;
    cursor: pointer;
}
.mensWear{
    position: absolute;
    bottom: 7%;
    left: 40%;
    cursor: pointer;
}
.kidsWear{
    position: absolute;
    bottom: 7%;
    right:  1%;
    cursor: pointer;
}


.EssentialProduct{
    position: relative;
}
.viewAll{
    position: absolute;
    top: 40%;
    left: 12%;
    cursor: pointer;
}
.beautyProduct{
    position: absolute;
    top: 15%;
    left: 40%;
    cursor: pointer;
}
.beautyButton{
    position: absolute;
    top: 80%;
    left: 42%;
    cursor: pointer;
}
.HomeProduct{
    position: absolute;
    top: 15%;
    left: 60%;
    cursor: pointer;
}
.HomeButton{
    position: absolute;
    top: 80%;
    left: 62%;
    cursor: pointer;
}
.ElectronicProduct{
    position: absolute;
    top: 15%;
    left: 80%;
    cursor: pointer;
}
.ElectronicButton{
    position: absolute;
    top: 80%;
    right: 3%;
    cursor: pointer;
}